.result-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

.result-container h1 {
    font-size: 88px;
    margin-bottom: 0;
}

.result-container h2 {
    font-size: 44px;
    margin-top: 0;
}

.result-container p {
    font-size: 22px;
    margin: 0;
}
.retake-button {
    margin: 70px 0 0 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.retake-button:hover {
    opacity: 0.7;
}