.result-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    margin-bottom: 5%;
}

.result-container h1 {
    font-size: 88px;
    margin-bottom: 0;
}

.result-container h2 {
    font-size: 44px;
    margin-top: 0;
}

.result-container p {
    font-size: 22px;
}