.question-container {
    width: 50vw;
}
.question {
    font-size: 55px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.option {
    margin: 20px 15px;
}

.option:hover {
    cursor: pointer;
    opacity: 0.5;
}