.App {
  height: 100vh;
  background-image: linear-gradient(#14164B, #397BA0);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

h1, h2 {
  font-family: 'Cormorant';
  font-weight: 200;
}

h3, p, a {
  font-family: 'Inconsolata';
}
